.spirits-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Wyszukiwarka */
.search-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  width: 60%;
  max-width: 350px;
  padding: 10px 14px;
  border-radius: 12px;
  border: 1px solid #bbb;
  font-size: 1rem;
}

.spirits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  justify-items: center;
}

.spirit-card {
  width: 260px;
  background: #fff;
  border-radius: 16px;
  padding: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-6px);
  }
}

.spirit-image-wrapper {
  width: 100%;
  height: 160px;
  overflow: hidden;
  border-radius: 12px;
  background: #eee;
}

.spirit-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spirit-name {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
