<div class="spirits-container">
  <h2 class="title">Duchy</h2>

  <div class="search-wrapper">
    <input
      type="text"
      class="search-input"
      placeholder="Szukaj ducha..."
      [(ngModel)]="searchTerm"
      (input)="filterSpirits()"
    />
  </div>

  <div *ngIf="loading" class="info">Ładowanie...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="spirits-grid">
    <a *ngFor="let s of filteredSpirits" class="spirit-card" [routerLink]="['/spirits', s.id]">
      <div class="spirit-image-wrapper">
        <img
          *ngIf="s.imageUrl"
          class="spirit-img"
          [src]="'http://localhost:5288' + s.imageUrl"
          alt="{{ s.name }}"
        />
      </div>

      <h3 class="spirit-name">{{ s.name }}</h3>
    </a>
  </div>
</div>
