.sidebar {
  background-color: #2d2d2d;
  color: white;
  height: 100vh;
  width: 220px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 1rem 0;

      a {
        color: #ccc;
        text-decoration: none;
        transition: color 0.2s;

        &.active,
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
